@charset "UTF-8";
/* line 7, ../sass/guff.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 29, ../sass/guff.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 35, ../sass/guff.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/guff.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/guff.scss */
blockquote, q {
  quotes: none;
}

/* line 50, ../sass/guff.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../sass/guff.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../sass/guff.scss */
* {
  box-sizing: border-box;
}

/* line 545, ../sass/guff.scss */
body {
  line-height: 1.8;
}

/* line 551, ../sass/guff.scss */
h1 {
  font-size: 35px;
  font-size: 2.1875rem;
}

/* line 555, ../sass/guff.scss */
h2 {
  font-size: 31px;
  font-size: 1.9375rem;
}

/* line 559, ../sass/guff.scss */
h3 {
  font-size: 27px;
  font-size: 1.6875rem;
}

/* line 563, ../sass/guff.scss */
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 567, ../sass/guff.scss */
h5 {
  font-size: 21px;
  font-size: 1.3125rem;
}

/* line 571, ../sass/guff.scss */
h6 {
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 575, ../sass/guff.scss */
p {
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 767px) {
  /* line 545, ../sass/guff.scss */
  body {
    line-height: 1.8;
  }

  /* line 551, ../sass/guff.scss */
  h1 {
    font-size: 31px;
    font-size: 1.9375rem;
  }

  /* line 555, ../sass/guff.scss */
  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
  }

  /* line 559, ../sass/guff.scss */
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /* line 563, ../sass/guff.scss */
  h4 {
    font-size: 21px;
    font-size: 1.3125rem;
  }

  /* line 567, ../sass/guff.scss */
  h5 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  /* line 571, ../sass/guff.scss */
  h6 {
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 575, ../sass/guff.scss */
  p {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  /* line 545, ../sass/guff.scss */
  body {
    line-height: 1.8;
  }

  /* line 551, ../sass/guff.scss */
  h1 {
    font-size: 31px;
    font-size: 1.9375rem;
  }

  /* line 555, ../sass/guff.scss */
  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
  }

  /* line 559, ../sass/guff.scss */
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /* line 563, ../sass/guff.scss */
  h4 {
    font-size: 21px;
    font-size: 1.3125rem;
  }

  /* line 567, ../sass/guff.scss */
  h5 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  /* line 571, ../sass/guff.scss */
  h6 {
    font-size: 16px;
    font-size: 1rem;
  }

  /* line 575, ../sass/guff.scss */
  p {
    font-size: 14px;
    font-size: 0.875rem;
  }

  /* line 37, ../sass/screen.scss */
  span.scroll-indicator {
    font-size: 10px !important;
  }
}
/* line 42, ../sass/screen.scss */
html, body {
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 200;
  perspective: 200;
  background: #DFDFE3;
}

/* line 49, ../sass/screen.scss */
body {
  font-family: Georgia, "Times New Roman", "Hiragino Sans GB", "冬青黑体", SimHei, "黑体", arial;
}

/* line 53, ../sass/screen.scss */
main {
  display: block;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.25;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  50% {
    opacity: 1;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  100% {
    opacity: 0.25;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.25;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  50% {
    opacity: 1;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  100% {
    opacity: 0.25;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 65, ../sass/screen.scss */
section {
  transition: all 0.55s ease-out;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background: white;
  color: #1abc9c;
  text-align: center;
}
/* line 66, ../sass/screen.scss */
section.scene {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 1em 20px;
  background-size: 100% 100%;
}
@media (min-width: 1024px) {
  /* line 66, ../sass/screen.scss */
  section.scene {
    width: 63.54vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 66, ../sass/screen.scss */
  section.scene {
    width: 63.54vh;
  }
}
/* line 81, ../sass/screen.scss */
section.scene span.scroll-indicator {
  font-size: 15px;
  font-size: 0.9375rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: auto;
  color: #bbb;
  display: inline-block;
  font-weight: normal;
  -webkit-transform: rotateZ(180deg) scaleX(2.5) translate3d(50%, 0, 0);
  transform: rotateZ(180deg) scaleX(2.5) translate3d(50%, 0, 0);
  font-family: Helvetica, Arial, san-serif;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}
@media (max-width: 767px) and (orientation: landscape) {
  /* line 81, ../sass/screen.scss */
  section.scene span.scroll-indicator {
    bottom: 5px;
  }
}
/* line 96, ../sass/screen.scss */
section.scene span.scroll-indicator.reverse {
  -webkit-transform: scaleX(2.5) translate3d(-50%, 0, 0);
  transform: scaleX(2.5) translate3d(-50%, 0, 0);
  top: 20px;
  bottom: auto;
}
@media (max-width: 767px) and (orientation: landscape) {
  /* line 96, ../sass/screen.scss */
  section.scene span.scroll-indicator.reverse {
    bottom: 5px;
  }
}
/* line 106, ../sass/screen.scss */
section.fix {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 109, ../sass/screen.scss */
section.fade {
  opacity: 0;
}
/* line 112, ../sass/screen.scss */
section.up_after.after {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 115, ../sass/screen.scss */
section.up {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 118, ../sass/screen.scss */
section.left_after.after {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 121, ../sass/screen.scss */
section.left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 124, ../sass/screen.scss */
section.cube {
  -webkit-transform: translate3d(0, 50%, 0) rotateX(-90deg);
  transform: translate3d(0, 50%, 0) rotateX(-90deg);
}
/* line 127, ../sass/screen.scss */
section.cube_after.after {
  -webkit-transform: translate3d(0, -50%, 0) rotateX(90deg);
  transform: translate3d(0, -50%, 0) rotateX(90deg);
}
/* line 130, ../sass/screen.scss */
section.shrink {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
/* line 133, ../sass/screen.scss */
section.shrink_after.after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
}
/* line 136, ../sass/screen.scss */
section.roll {
  -webkit-transform: translate3d(100%, 0, 0) rotateZ(-180deg);
  transform: translate3d(100%, 0, 0) rotateZ(-180deg);
}
/* line 139, ../sass/screen.scss */
section.roll_after.after {
  -webkit-transform: translate3d(-100%, 0, 0) rotateZ(180deg);
  transform: translate3d(-100%, 0, 0) rotateZ(180deg);
}
/* line 142, ../sass/screen.scss */
section.active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}
/* line 146, ../sass/screen.scss */
section.slide {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  width: 100%;
  max-height: 70%;
  padding: 0 20px;
}
/* line 161, ../sass/screen.scss */
section div.container {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
/* line 167, ../sass/screen.scss */
section h1 {
  color: #444;
}
/* line 170, ../sass/screen.scss */
section p {
  color: #1abc9c;
  padding: 0.2em;
}
/* line 174, ../sass/screen.scss */
section a {
  text-decoration: underline;
  color: #1abc9c;
}
