@import "compass";
@import "compass/reset";

@import "guff";

$rem-base: 16px;
$line-height-base: 1.8;
$type-rhythm-ratio: 1.14;
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 767px)";
$landscape: "(max-width: 767px) and (orientation : landscape)";
$grid-columns: 12;
$grid-gutter: 4;
$grid-padding: 20px;
$grid-max-width: 1024px;

$blue: #3498db;
$dark-blue: #34495e;
$yellow: #f1c40f;
$red: #e74c3c;
$dark-red: #B5292A;
$teal: #1abc9c;
$green: #2ecc71;
$purple: #794DC8;
$orange: #e67e22;
$light-gray: #DFDFE3;
$dark-gray: #444;

@include type;

@include breakpoint($mobile) {
  @include type(14);
}

@include breakpoint($landscape){
  @include type(14);
  span.scroll-indicator {
    font-size: 10px !important;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: $light-gray;
}

body {
  font-family: Helvetica, "Times New Roman", "Hiragino Sans GB", "冬青黑体", SimHei, "黑体", arial;
}

main {
  display: block;
  height: 100%;
  transform-style: preserve-3d;
}

@keyframes pulse {
  0% { opacity: 0.25; padding-top: 10px; padding-bottom: 10px;}
  50% { opacity: 1; padding-top: 0px; padding-bottom: 0px;}
  100% { opacity: 0.25; padding-top: 10px; padding-bottom: 10px;}
}

section {
  &.scene {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    @include breakpoint($desktop) {
        width: 63.54vh;
    }
    @include breakpoint($tablet) {
        width: 63.54vh;
    }
    span.scroll-indicator {
      @include safe-rem(font-size, 15);
      position: absolute;
      bottom: 20px;
      @include breakpoint($landscape){
        bottom: 5px;
      }
      left: 50%;
      margin: auto;
      color: #bbb;
      display: inline-block;
      font-weight: normal;
      transform: rotateZ(180deg) scaleX(2.5) translate3d(50%,0,0);
      font-family: Helvetica, Arial, san-serif;
      animation: pulse 1.5s infinite;
      &.reverse {
        transform: scaleX(2.5) translate3d(-50%,0,0);
        top: 20px;
        @include breakpoint($landscape) {
          bottom: 5px;
        }
        bottom: auto;
      }
    }
  }
  &.fix {
    transform: translate3d(0,0,0);
  }
  &.fade {
    opacity: 0;
  }
  &.up_after.after {
      transform: translate3d(0,-100%,0);
  }
  &.up {
    transform: translate3d(0,100%,0);
  }
  &.left_after.after {
    transform: translate3d(-100%,0,0);
  }
  &.left {
    transform: translate3d(100%,0,0);
  }
  &.cube {
    transform: translate3d(0,50%,0) rotateX(-90deg);
  }
  &.cube_after.after {
    transform: translate3d(0,-50%,0) rotateX(90deg);
  }
  &.shrink { 
    transform: scale(0);
  }
  &.shrink_after.after {
    transform: scale(0);
  }
  &.roll{
    transform: translate3d(100%,0,0) rotateZ(-180deg);
  }
  &.roll_after.after {
    transform: translate3d(-100%,0,0) rotateZ(180deg);
  }
  &.active {
    transform: translate3d(0,0,0) scale(1);
    opacity: 1;
  }
  &.slide{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    width: 100%;
    max-height: 70%;
  }
  transition: all .55s ease-out;
  perspective: 1000px;
  color: $dark-gray;
  text-align: center;
  div.container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    color: $dark-gray;
  }
  p {
    color: $dark-gray;
    padding: 0.2em;
  }
  a{
    text-decoration: underline;
    color: $dark-gray;
  }
  .logo {
    width: 75%;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .products {
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .bottom-orange {
    width: 110%;
    height: 30%;
    margin: 0 0 -18% -10%;
    position: absolute;
    bottom: 0;
    background-color: #fa0;
    transform: rotateZ(13deg);
    z-index: -1;
  }
  .title {
    position: absolute;
    bottom: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .sub_title {
    margin: 5% auto;
  }
}
.orange {
  background-color: #fa0;
}
.white {
  background-color: white;
}
.f_left {
  position: relative;
  float: left;
}
.piece {
  margin: 10% auto;
  width: 80%;
  .middle_p {
    margin-top: 5%;
  }
}
.icon {
    margin: 0 8%;
    width: 30%;
}
.clear {
    clear: both;
}
