-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset:"utf-8"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=no"}/
    %meta{name:"Description", content:" test for sectionSlide"}/
    %title sectionSlide
    %link{rel:"stylesheet", href:"css/screen.css"}
    %script{src:"js/modernizr.min.js"}
  %body
    .main
      %section.scene.fix.up_after.white
        .logo
          %img(src="img/logo.png")
        .products
          %img(src="img/products.png")
        .bottom-orange
      %section.scene.up.up_after.orange
        %h3.title 拉近您与顾客的距离
        %section.slide.fix.fade.cube_after
          .sub_title
            %h6 您已使出浑身解数关注老顾客？
          .piece
            .f_left.icon
              %img(src="img/people.png")
            .f_left.middle_p
              %h6 记住老顾客的脸！
            .clear
          .piece
            .f_left.icon
              %img(src="img/card.png")
            .f_left.middle_p
              %h6 很多的会员卡……
            .clear
        %section.slide.fade.cube.cube_after
          %h5 用各种方法关照老顾客
          %p 刷脸
          %p 会员卡
        %section.slide.fade.cube.cube_after
          %h5 鹿由君帮您找到老顾客
          %p 自动发现老顾客
          %p 主动送上一份温情
      %section.scene.up.up_after
        %h3 优化您的营销方式
        %section.slide.fade.fix.cube_after
          %h5 每当推出新产品，既期待，又烦恼
          %p 要做KT板、DM单
          %p 成本高、不及时、还特麻烦
        %section.slide.fade.cube.cube_after
          %h5 鹿由君为您推荐新产品
          %p 有效、方便、不操心
          %p 还能提升形象
  %script{src:"js/sectionSlide.min.js"}
