-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset:"utf-8"}/
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, user-scalable=no"}/
    %meta{name:"Description", content:" test for sectionSlide"}/
    %title sectionSlide
    %link{rel:"stylesheet", href:"css/screen.css"}
    %script{src:"js/modernizr.min.js"}
  %body
    .main
      %section.scene.fix.up_after
        %h1 优热点鹿由器
      %section.scene.up.up_after
        %h1.title 拉近您与顾客的距离
        %section.slide.fix.fade.cube_after
          %h5 我怕老顾客对我不满意
          %h5 老顾客的重要性
          %p 得罪一个老顾客，将多付出5-7倍成本
        %section.slide.fade.cube.cube_after
          %h5 用各种方法关照老顾客
          %p 刷脸
          %p 会员卡
        %section.slide.fade.cube.cube_after
          %h5 鹿由君帮您找到老顾客
          %p 自动发现老顾客
          %p 主动送上一份温情
      %section.scene.up.up_after
        %h1 优化您的营销方式
        %section.slide.fade.fix.cube_after
          %h5 每当推出新产品，既期待，又烦恼
          %p 要做KT板、DM单
          %p 成本高、不及时、还特麻烦
        %section.slide.fade.cube.cube_after
          %h5 鹿由君为您推荐新产品
          %p 有效、方便、不操心
          %p 还能提升形象
  %script{src:"js/jquery-1.11.0.min.js"}
  %script{src:"js/jquery-migrate-1.2.1.min.js"}
  %script{src:"js/browserSwipe.js"}
  %script{src:"js/touchswipe.js"}
  %script{src:"js/sectionSlide.js"}
